<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" preserve-order="true" thread-count="1">
	<test name="testCB">
		<classes>
			<class name="cb.loadDoc.ClusterConnectionTest" />
			<class name="cb.loadDoc.AddDocumentTest" />
		</classes>
	</test>
</suite>
